{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center page-center">
    <div class="card">
        <p class="center-align logo" style="background-color:#5fc2f9;"><img src="../static/esb.png"></p>
        <div class="card-header">
            <b>Admin Login</b>
        </div>
        <div class="card-body">
            <form action="{{url_for('welcome_admin')}}" method="POST">
                <div class="form-group m-3">
                    <label for="username">Username</label><br>
                    <input type="text" name="username" id="username" placeholder="Username">
                </div>
                <div class="form-group m-3">
                    <label for="password">Password</label><br>
                    <input type="password" name ="password" id="password" placeholder="Password">
                </div>
                <div class="form-group" style="margin-left: 1vw;">
                    <button type="submit" class="btn btn-outline-success">Login</button>
                </div>
                <br>
                <br>
                <p class="center-align">Are you an user?<a href="{{url_for('user_login')}}">Login here</a></p>
                <p class="center-align">New user?<a href="{{url_for('user_signup')}}">Sign up here</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}