{% extends "base1.html" %}
{% block content %}
    <div class="main">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-5"></div>
            <div class="col-md-1">
                <a id="logs-btn" class="active btn btn-outline-warning" onclick="return manageLogs()" href="#">Logs</a>
            </div>
            <div class="col-md-2">
                <a id="manage-btn" class="btn btn-outline-warning" onclick="return manageUsers()" href="#">Manage Users</a>
            </div>
        </div>
        <div id="logs" >
            <br><br>
                <p style="text-align: center;font-size:50px">Logs</p>
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Request ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Type of request</th>
                        <th scope="col">Receiver</th>
                        <th scope="col">Initial Timestamp</th>
                        <th scope="col">Final Timestamp</th>
                        <th scope="col">Service Response status</th>
                        <th scope="col">Return Response status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(0,n) %}
                        <tr>
                            <td>{{logs[n-1-i][0]}}</td>
                            <td>{{logs[n-1-i][1]}}</td>
                            <td>{{logs[n-1-i][2]}}</td>
                            <td>{{logs[n-1-i][3]}}</td>
                            <td>{{logs[n-1-i][6]}}</td>
                            <td>{{logs[n-1-i][7]}}</td>
                            <td>{{logs[n-1-i][8]}}</td>
                            <td>{{logs[n-1-i][9]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                <div id="manage-users" style="display: none;">
                    <p style="text-align: center;font-size:50px">Pending Requests</p>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Role</th>
                            <th scope="col">Email ID</th>
                            <th scope="col">Confirm</th>
                            <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(0,m) %}
                            <tr>
                                <td>{{pending_users[i][0]}}</td>
                                <td>{{pending_users[i][2]}}</td>
                                <td>{{pending_users[i][3]}}</td>
                                <td><a href="{{url_for('confirm_user',username=pending_users[i][0])}}">Confirm</a></td>
                                <td><a href="{{url_for('delete_user',username=pending_users[i][0])}}">Delete </a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script>
        function manageUsers(){
            logs = document.getElementById("logs");
            manage = document.getElementById("manage-users");
            logs.style.display = 'none';
            manage.style.display = 'block';
            document.getElementById('manage-btn').classList.add("active");
            document.getElementById('logs-btn').classList.remove("active");
        }
        function manageLogs(){
            logs = document.getElementById("logs");
            manage = document.getElementById("manage-users");
            logs.style.display = 'block';
            manage.style.display = 'none';
            document.getElementById('logs-btn').classList.add("active");
            document.getElementById('manage-btn').classList.remove("active");
        }
    </script>
{% endblock content %}   