{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center mt-5">
    <div class="card">
        <p class="center-align logo" style="background-color:#5fc2f9;"><img src="../static/esb.png"></p>
        <div class="card-header">
            <b>User Signup</b>
        </div>
        <div class="card-body">
            <form action="{{url_for('user_signup')}}" method="POST">
                <div class="form-group m-3">
                    <label for="username">Username</label><br>
                    <input onkeyup="check(this.value)" type="text" name="username" id="username" placeholder="Username">
                    <br>
                    <small style="color:red" id="alertbox"></small>
                </div>
                <div class="form-group m-3">
                    <label for="password">Password</label><br>
                    <input onkeyup="passwd_strength(this.value)" type="password" name ="password" id="password" placeholder="Password"><br>
                    <small style="color:red" id="display"></small><br>
                    <progress max="100" value="0" id="meter"></progress>
                </div>
                <div class="form-group m-3">
                    <label for="role">Role</label><br>
                    <input type="text" name ="role" id="role" placeholder="Role">
                </div>
                <div class="form-group m-3">
                    <label for="email">Email</label><br>
                    <input onkeyup="validate_email(this.value)" type="text" name ="email" id="email" placeholder="Email"><br>
                    <small style="color:red" id="emailalertbox"></small>
                </div>
                <div class="form-group" style="margin-left: 1vw;">
                    <button id="btn" disabled type="submit" class="btn btn-outline-success">Sign Up</button>
                </div>
                <br>
                <br>
                <p class="center-align">Already a user?<a href="{{url_for('user_login')}}">Login here</a></p>
                <p class="center-align">For Admin Login<a href="{{url_for('welcome_admin')}}">Click here</a></p>
            </form>
        </div>
    </div>
</div>
<script>
    username_correct = false;
    passwd_strong = false;
    email_correct = false;
    var unames = {{ unames | tojson }};
    var alertbox = document.getElementById("alertbox");
    var btn = document.getElementById("btn")
    // a function that will alert user if he/she is typing a username already existing
    function check(val){
        var flag=0;
        for(var i=0;i<unames.length;i++){
            if(unames[i] == val){
                flag=1;
                alertbox.innerHTML = "The username already exists.";
            }
        }
        if(flag==0){
            alertbox.innerHTML = "";
        }

        if(alertbox.innerHTML == ""){
            username_correct = true;
        }
        else{
            username_correct = false;
            btn.disabled = true;
        }

        if(username_correct && passwd_strong && email_correct ){
            btn.disabled = false;
        }
    }
    // checking the strength of password
    var passwd = document.getElementById("password")
    var strengthbar = document.getElementById("meter");
    var display = document.getElementById("display")
    function passwd_strength(password){
        display.innerHTML="";
        var strength=0;
        if (password.match(/[a-z]+/)){
            strength+=1;
        }
        if (password.match(/[A-Z]+/)){
            strength+=1;
        }
        if (password.match(/[0-9]+/)){
            strength+=1;
        }
        if (password.match(/[$@#&!]+/)){
            strength+=1;
        }
        if (password.length<6){
            display.innerHTML="minimum number of characters is 6";
        }

        if (password.length>12){
            display.innerHTML="maximum number of characters is 12";
        }
        switch(strength){
        case 0:
            strengthbar.value=0;
            break;

        case 1:
            strengthbar.value=25;
            break;

        case 2:
            strengthbar.value=50;
            break;

        case 3:
            strengthbar.value=75;
            break;

        case 4:
            strengthbar.value=100;
            break; 
        }

        if(display.innerHTML == "" && strengthbar.value >= 50){
            passwd_strong = true;
        }
        else{
            passwd_strong = false;
            btn.disabled = true;
        }

        if(username_correct && passwd_strong && email_correct ){
            btn.disabled = false;
        }
    }

    var ealertbox = document.getElementById("emailalertbox");
    function validate_email(input) {
        var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
        if (input.match(validRegex)) {
            console.log("sjhsj")
            email_correct = true;
            ealertbox.innerHTML = "";
        } 
        else {
            ealertbox.innerHTML = "Invalid Email";
            email_correct = false;
            btn.disabled = true;
        }

        if(username_correct && passwd_strong && email_correct ){
            btn.disabled = false;
        }
    }

</script>
{% endblock content %}