{% extends filename %}
{% block content %}
<div class="main">
    <form action="{{url_for('weather')}}" method='POST'>
        <div class="form-group m-3">
            <label for="string">Enter the City</label><br>
            <input type="text" name="string" id="string" placeholder="Enter the City">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Send</button>
        </div>
    </form>
    <div id="out" class="output">
        {{out}}

    </div>
</div>
<script>
    var out = document.getElementById("out")
    var ID = {{ reqID }}
    var check = {{ check }}
    console.log(ID)
    async function check_updates() {
        while (check) {
            console.log(ID)
            await new Promise(r => setTimeout(r, 2000));
            await fetch(`/check_update/${ID}`, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Accept': 'application/json'
                }
            }).then(response => response.json())
                .then(data => {
                    if ("incomplete" in data) {
                        console.log("in the if part")
                        out.innerHTML = "Waiting for response..."
                    }
                    else if ("message" in data) {
                        out.innerHTML = data["message"]
                        check = false 
                    }
                    else {
                        out.innerHTML = data["main"] + `  ` + data["desc"] + `<table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>Temperature</td>
                                                    <td>`+ data["temp"] + `</td>
                                                </tr>
                                                <tr>
                                                    <td>Feels like</td>
                                                    <td>`+ data["feels"] + `</td>
                                                </tr>
                                                <tr>
                                                    <td>Minimum Temperature</td>
                                                    <td>`+ data["temp_min"] + `</td>
                                                </tr>
                                                <tr>
                                                    <td>Maximum Temperature</td>
                                                    <td>`+ data["temp_max"] + `</td>
                                                </tr>
                                                <tr>
                                                    <td>Pressure</td>
                                                    <td>`+ data["pressure"] + `</td>
                                                </tr>
                                                <tr>
                                                    <td>Humidity</td>
                                                    <td>`+ data["humidity"] + `</td>
                                                </tr>
                                            </tbody>
                                        </table>`
                        check = false // break here
                    }
                });
        }
    };
    check_updates();
</script>
{% endblock content %}